.home-heading {
  font-size: 10rem;
  margin: 0;
  text-align: center;
}

.home-subtitle {
  color: var(--font-color);
  margin-top: 3em;
}

.home-paragraph-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em;
  margin-bottom: 4em;
}

.home-paragraph {
  margin-bottom: 0;
}

.light-card {
  padding: 1.5em;
  background-color: var(--bg-color-light);
  color: var(--font-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dark-card {
  padding: 1.5em;
  background-color: var(--bg-color-dark);
  color: var(--font-headings-color-light);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .home-heading {
    font-size: 8rem;
  }
}

@media (max-width: 768px) {
  .home-heading {
    font-size: 6rem;
  }
  .home-paragraph-container {
    grid-template-columns: 1fr;
    gap: 1.5em;
  }
}

@media (max-width: 640px) {
  .home-heading {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .home-heading {
    font-size: 4rem;
  }
}

@media (max-width: 420px) {
  .home-heading {
    font-size: 3.5rem;
  }
}
