/* header {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 0;
} */

.home-heading {
  font-size: 10rem;
  margin: 0;
  text-align: center;
}

.home-symbols-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin: 2em 0 4em;
}

.home-subtitle {
  color: var(--font-color);
}

.home-paragraphs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em;
  margin-bottom: 4em;
}

.home-paragraph {
  margin-bottom: 0;
}
