.home-heading {
  font-size: 10rem;
  margin: 0;
  text-align: center;
}

.home-subtitle {
  color: var(--font-color);
  margin-top: 3em;
}

.home-paragraphs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em;
  margin-bottom: 4em;
}

.home-paragraph {
  margin-bottom: 0;
}
