:root {
  --bg-color: #eaf4f4;
  --font-color: #303141;
  --font-headings-color: #3a409e;
  --button-color: #95bca6;
  --button-color-hover: #a1c8b2;
  --accent-color: #ff6555;
  --accent-color-hover: #ff7262;
  --font-color-green: #497f61;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1,
h2,
h3 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--font-headings-color);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

h3,
legend {
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

/* ========== Other Styles ========== */

fieldset {
  border: 0;
}

.button,
.answer-button {
  color: var(--font-color);
  font-weight: 600;
  background-color: var(--button-color);
  padding: 1.25em 2.5em;
  margin-right: 2em;
  border-radius: 6px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover,
.answer-button {
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-color-hover);
}

.accent {
  background-color: var(--accent-color);
}

.accent:hover {
  background-color: var(--accent-color-hover);
}

fieldset {
  margin: 4em 0;
}

.answers-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.is-correct {
  background-color: #72a657;
}

.is-incorrect {
  background-color: var(--accent-color);
}

.loading-spinner {
  display: inline-block;
  margin-top: 1rem;
  width: 24px;
  height: 24px;
}

.loading-spinner:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #510077;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-box {
  margin: 2em 0;
  padding: 1em;
  background-color: #e74e3d;
  color: #491e19;
}
