:root {
  --bg-color-body: #eaf4f4;
  --bg-color-light: #cde5e5;
  --bg-color-dark: #374c40;
  --font-color: #303141;
  --font-color-green: #497f61;
  --font-headings-color: #3a409e;
  --font-headings-color-light: #babde6;
  --button-color: #95bca6;
  --button-color-hover: #a1c8b2;
  --accent-color-red: #ff6555;
  --accent-color-red-hover: #ff7262;
  --accent-color-green: #8fb27c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-color-body);
  color: var(--font-color);
  font-size: 1.125rem;
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ========== Text styles ========== */

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1,
h2,
h3 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--font-headings-color);
}

h1 {
  font-size: 3rem;
  margin: 0.25em 0 0;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

h3,
legend,
.input-label {
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.large-paragraph {
  font-size: 1.25rem;
  font-weight: 700;
}

/* ========== Content containers ========== */

.content-container-large {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.light-card {
  padding: 1.5em;
  background-color: var(--bg-color-light);
  color: var(--font-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark-card {
  padding: 1.5em;
  background-color: var(--bg-color-dark);
  color: var(--font-headings-color-light);
  border-radius: 8px;
}

/* ========== Layout groups ========== */

.push-down {
  margin-top: auto;
}

.no-margin {
  margin: 0;
}

/* ========== Form elements ========== */

.form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

legend,
.input-label {
  font-size: 1.25rem;
}

legend {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  margin-bottom: 1.75em;
}

.text-input {
  margin-bottom: 0.75em;
  background-color: var(--bg-color-light);
  border: none;
  border-radius: 4px;
  height: 2.5em;
  width: 24em;
  padding: 0 0.5em;
  color: var(--font-color);
  font-size: 1.125rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  text-align: center;
}

fieldset {
  border: 0;
}

input[type='radio'] {
  display: none;
}

.radio-buttons-container {
  display: flex;
  justify-content: center;
  gap: 3em;
  font-size: 0.875rem;
  line-height: 1em;
}

.category-button-container {
  width: 4em;
  text-align: center;
}

.category-button-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-button-image {
  width: 3em;
  height: 3em;
  margin-bottom: 0.5em;
}

/* ========== Footer ========== */

.footer {
  margin: 8em 0 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
  font-size: 0.875rem;
  text-align: center;
}

.footer-image-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.footer-image {
  width: 1.25em;
  margin: 0;
  padding: 0;
}

/* ========== Symbols ========== */

.symbols-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin: 1.25em 0;
}

/* ========== Other styles ========== */

.button,
.answer-button {
  color: var(--font-color);
  font-size: 1.125rem;
  font-weight: 600;
  background-color: var(--button-color);
  border-radius: 6px;
  border: none;
}

.button {
  padding: 1.25em 2.5em;
}

.button:hover,
.answer-button {
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-color-hover);
}

.accent-button {
  background-color: var(--accent-color-red);
}

.accent-button:hover {
  background-color: var(--accent-color-red-hover);
}

.light-button {
  background-color: var(--bg-color-light) !important;
}

.green-button {
  background-color: var(--accent-color-green);
}

.red-button {
  background-color: var(--accent-color-red);
}

.large-button {
  padding: 1.5em 4em;
}

.small-button {
  padding: 1.125em 2.25em;
  font-size: 1rem;
}

.loading-spinner {
  display: inline-block;
  margin-top: 1rem;
  width: 24px;
  height: 24px;
}

.loading-spinner:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #510077;
  border-color: var(--accent-color-red) transparent var(--accent-color-red)
    transparent;
  animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-box {
  margin: 2em 0;
  padding: 1em;
  background-color: #e74e3d;
  color: #491e19;
}
