.quiz-results-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.congratulations-container {
  margin: 0.5em 0;
  color: var(--font-color-green);
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.congratulations-text {
  margin-bottom: 0;
}

.results-container {
  display: flex;
  gap: 1em;
}

.results-icon {
  width: 1.5em;
  height: 1.5em;
}

.results-question-container {
  margin-bottom: 4em;
}

.results-question {
  margin-bottom: 0.5em;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--font-headings-color);
}

.results-answers-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-items: start;
  gap: 0.5em;
  font-weight: 400;
}

.results-answer {
  margin: 0;
}

.bold-text {
  font-weight: 700;
}

.results-buttons-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

@media (max-width: 768px) {
  .results-question {
    font-size: 1.25rem;
  }
  .results-buttons-container {
    gap: 1em;
  }
}

@media (max-width: 480px) {
  .results-question {
    font-size: 1.125rem;
  }
  .results-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
}
