* {
  box-sizing: border-box;
  --main-bg-color: #d6eefa;
  --main-font-color: #272835;
  --main-color-dark: #09577d;
  --main-color-accent: #ff6555;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: 'Roboto';
  color: var(--main-font-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 4em;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

header {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.home-content {
  width: 60%;
  margin-top: 8em;
}

.home-images {
  width: 40%;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
}

.home-subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 2em 0 3em;
}

.link {
  color: #ffffff;
  background-color: var(--main-color-dark);
  padding: 1.25em 2.5em;
  margin-right: 2em;
  border-radius: 6px;
}

.accent {
  background-color: var(--main-color-accent);
}

fieldset {
  margin: 4em 0;
}

.answers-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.answer-button {
  background-color: var(--main-color-dark);
  color: #ffffff;
  padding: 1.25em 2.5em;
  border-radius: 6px;
  border: none;
}

.is-correct {
  background-color: #72a657;
}

.is-incorrect {
  background-color: var(--main-color-accent);
}
